.projects {
  padding: 80px 20px;
  background-color: #f8f9fa; /* Fond clair pour trancher avec le Hero bleu */
}

.projects-container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  color: #007bff; /* Ton bleu */
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.underline {
  width: 80px;
  height: 4px;
  background: #007bff;
  margin: 0 auto 30px;
  border-radius: 2px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
  margin-top: 50px;
}

.project-card {
  background: white;
  border-radius: 15px;
  padding: 25px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
  border: 1px solid #eee;
}

.project-card:hover {
  transform: translateY(-10px);
  border-color: #007bff;
}

.project-category-tag {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #e7f1ff;
  color: #007bff;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
}

.project-icon-box {
  width: 50px;
  height: 50px;
  background: #007bff;
  color: rgb(255, 255, 255);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.p-icon {
  width: 24px;
  height: 24px;
}

.project-meta {
  margin-bottom: 15px;
}

.project-company {
  display: block;
  font-weight: bold;
  color: #333;
}

.project-period {
  font-size: 0.85rem;
  color: #666;
}

.project-info h3 {
  margin-bottom: 10px;
  color: hwb(63 1% 90% / 0.959);
}

.tech-tag {
  display: inline-block;
  background: #f1f1f1;
  color: #555;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.75rem;
  margin-right: 8px;
  margin-top: 8px;
}